tr {
          vertical-align: top;
        }

        .video {
          width: 360px;
          background-color: black;
          margin: 2px 0;
        }

        button {
          margin: 2px;
        }

        .sharedBtns {
          padding: 5px;
          background-color: papayawhip;
          display: flex;
          justify-content: center;
          flex-direction: column;
        }
